#background{color:rgb(181, 49, 49);}
#AboutS{color: rgb(255, 6, 6);}
#email {color: rgb(167, 14, 106);}
#github {color: rgb(167, 14, 106);}
#head {color: rgb(167, 14, 106);}
#head {color: rgb(167, 14, 106);}
#head {color: rgb(167, 14, 106);}
